{% extends "base.html" %}

{% block head %} {{ super() }}<title>{% block title %}Login{% endblock %}</title>{% endblock %}

{% block content %}
<body>
    {% block navbar %} {{ super() }} {% endblock %}

    <main role="main">
	<br>
	<h1 class="question-title">Question Forum</h1><br>

	<div class="question">
		{% for q in questions %}
		<hr class="featurette-divider">
	  
		<div class="row featurette">
		  <div class="col-md-7 order-md-2">
			<h2><a class="featurette-heading" style="margin-left: 10px" href="{{ url_for('viewquestion_page') }}?question={{ q.title }}">{{ q.title }}</a></h2>
			<h3 class="text"><a href="{{ url_for('account_page') }}?user={{q.username}}">{{q.username}}</a> <small class="text-muted">on {{ q.questionaskdate}} | Viewed {{q.viewCount}} times</small></h3>
			<p class="lead">{{ q.question }}</p>
		  </div>
		  <div class="col-md-5 order-md-1">
			<img class="featurette-image-right img-fluid mx-auto" src="/static/images/sign-question-icon.png" alt="Generic placeholder image">
		  </div>
		</div>
		{% endfor %}
	</div>

	<br>

{% endblock %}
</body>