{% extends "base.html" %}

{% block head %} {{ super() }}<title>{% block title %}Question{% endblock %}</title>{% endblock %}

{% block content %}
<body>
    {% block navbar %} {{ super() }} {% endblock %}

    <main role="main">
	<br>
	
	<h2 style="margin-left: 2%; overflow-wrap: break-word;">{{ question.title }}</h2>

	<h6 style="margin-left: 2%">Asked by <a href="{{ url_for('account_page') }}?user={{question.username}}">{{question.username}}</a> on {{ question.questionaskdate}}<br>Viewed {{question.viewCount}} times</h6>
	
	<p class="text" style="margin-left: 5%; overflow-wrap: break-word;">{{ question.question }}</p>
	{% if question.username == current_user.username %}
		<form action="/deleteQuestion" method="GET">
			<input type="hidden" name="question" value="{{question.id}}">
			<input type="submit" value="Delete Question" style="margin-left: 2%; margin-bottom: 12px; background-color: red;">
		</form>
	{%else%}
		<form action="/bookmark" method="GET">
			<input type="hidden" name="question" value="{{question.id}}">
			{% if bookmark %}
				<input type="submit" value="Remove bookmark" style="margin-left: 2%; margin-bottom: 12px">
			{% else %}
				<input type="submit" value="Bookmark question" style="margin-left: 2%; margin-bottom: 12px">
			{% endif %}
		</form>
	{%endif%}

	<style>
		.upvotequestion {
			margin-left: 2%;
  			width: 10%;
  			padding: 10px;
  			background-color: #04AA6D;
  			color: white;
  			font-size: 15px;
		}
		.downvotequestion {
			margin-left: 2%;
  			width:10%;
  			padding: 10px;
  			background-color: red;
  			color: white;
  			font-size: 15px;
		}
		.upvoteanswer {
  			padding-block: 5px;
			padding-inline: 10px;
  			background-color: #04AA6D;
  			color: white;
  			font-size: 15px;
			text-align: center;
			border-radius: 5px;
		}
		.downvoteanswer {
			padding-block: 5px;
			padding-inline: 10px;
  			background-color: red;
  			color: white;
  			font-size: 15px;
			text-align: center;
			border-radius: 5px;
			margin-bottom: 12px;
		}
		.answer{
			display: flex;
			justify-content: flex-start;
			margin-left: 2%;
			margin-bottom: 12px;
			margin-right: 2%;
		}
		.answer-votes{
			order: 1;
		}
		.answer-text{
			order: 2;
			flex: 20 1 auto;
			min-width: 0;
			flex-wrap: wrap;
		}
		
	</style>

	<div>
		<form action="/upvoteQuestion" methods="GET">
			<input type="hidden" name="question" value="{{ question.title }}">
			<input type="submit" value="Upvote &#11014 {{question.upvotes}}" class="upvotequestion">
		</form>
		<form action="/downvoteQuestion" methods="GET">
			<input type="hidden" name="question" value="{{ question.title }}">
			<input type="submit" value="Downvote &#11015 {{question.downvotes}}" class="downvotequestion">
		</form>
	</div>
	<br>

	{% if question.bestID %}
		{% for a in answers %}
			{% if a.id == question.bestID %}
				<h4 style="margin-left: 2%">Best answer: </h4>
				<p class="text" style="margin-left: 2%">Answer by <a href="{{ url_for('account_page') }}?user={{a.username}}">{{ a.username }}</a> on {{a.answerdate}}</p>
				<p class="text" style="margin-left: 5%; overflow-wrap: break-word;">{{ a.answer }}</p>
			{% endif %}
		{% endfor %}
	{% endif %}

	{% if answers %}

	<h4 style="margin-left: 2%">{{ answers.count() }} Answers: </h4>

	{% else %}
	
	<h4 style="margin-left: 2%">Answers: </h4>

	{% endif %}

	{% if answers %}

		{% for a in answers %}
		<div class="answer">
				<div class="answer-votes">
					<form action="/upvoteAnswer" methods="GET">
						<input type="hidden" name="question" value="{{ question.title }}">
						<input type="hidden" name="answer" value="{{ a.id }}">
						<input type="submit" value="&#11014 {{a.upvotes}}" class="upvoteanswer">
					</form>
					<form action="/downvoteAnswer" methods="GET">
						<input type="hidden" name="question" value="{{ question.title }}">
						<input type="hidden" name="answer" value="{{ a.id }}">
						<input type="submit" value="&#11015 {{a.downvotes}}" class="downvoteanswer">
					</form>
					{% if question.bestID == a.id  %}
					<p style="color: green;">Best answer &#9989 </p>
					{% endif %}

					{% if question.username == current_user.username  %}
					<form action="/bestAnswer" method="GET">
						<input type="hidden" name= "quest" value="{{question.id}}">
						<input type="hidden" name="bestans" value="{{a.id}}">
						<input type="hidden" name="qtitle" value="{{question.title}}">
						{%if question.bestID == a.id  %}
							<input type="submit" value="Un-top answer">
						{%else%}
							<input type="submit" value="Top answer">
						{%endif%}
					</form>
					{%endif%}
				</div>
				<div class="answer-text">
					<h6 class="text" style="margin-left: 2%">Answer by <a href="{{ url_for('account_page') }}?user={{a.username}}">{{ a.username }}</a> on {{a.answerdate}}</h6>
					
					<p class="text" style="margin-left: 5%; overflow-wrap: break-word;">{{ a.answer }}</p>
				</div>			
		</div>
	
		{% endfor %}

	{% else %}
		<p>Unfortunately, no answers have been submitted yet. Please try again later!</p><br><br>
	{% endif %}

	<style>
		.centerstuff{
			text-align: center;
		}
		.button{
			margin: 0;
			position: relative;
  			top: 50%;
  			left: 70%;
			font-size: 20px;
			color: white;
			background: rgb(20, 123, 220);
			border: 2px solid rgb(37, 34, 34);
			border-radius: 10px;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-right: 20px;
			padding-left: 20px;
		}
	</style>
<form method="GET" class="form-answer" action="/postAnswer">
	<h2 style="margin-left: 2%">Have something you would like to add?</h2>
	<input type="hidden" name="question" value="{{ question.title }}">
	<dl>
		<dt style="margin-left: 100px"> {{ form.answer.label() }}
		<dd><div class="centerstuff">{{ form.answer(cols="90", rows="10", placeholder="New Answer") }} </div>
	</dl>

    {{ form.submit(class="button") }}
</form>

{% endblock %}
</body>